{% extends 'base.html' %}
{% block analog %}active{% endblock analog %}
<!DOCTYPE
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'analogclock.css' %}">
    <script src="{% static 'analogclock.js' %}"></script>
    <title>Analog Clock</title>
{% endblock head %}
{% block body %}
    <div id="clockcontainer">
        <div id="hour"></div>
        <div id="minute"></div>
        <div id="second"></div>
    </div>
{% endblock body %}
</html>