{% extends 'base.html' %}
{% block digital %}active{% endblock digital %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'digitalclock.css' %}">
    <script src="{% static 'digitalclock.js' %}"></script>
    <title>Clock</title>
{% endblock head %}
{% block body %}
    <div id="clockcontainer" class="container-fluid bg-dark">
        <div id="time1" class="bg-dark"></div>
        <div id="time2" class="bg-dark"></div>
    </div>
{% endblock body %}
</html>