#clockcontainer{
    height: 89.7vh;
    width: 85vw;
    padding: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20vh;
}

#time1, #time2{
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-shadow: 0 0 30px #00f7ff;
}

@media screen and (max-width: 1100px) {
    #clockcontainer{
        font-size: 15vh;
    }
}

@media screen and (max-width: 900px) {
    #clockcontainer{
        font-size: 10vh;
    }
}

@media screen and (max-width: 600px) {
    #clockcontainer{
        font-size: 5vh;
    }
}